/*
# README
!README.md

# vim
!.vimrc
!.dein_lazy.toml
!.dein.toml
!.vim

# zsh
!.zshrc
!.config

# git config
!.gitignore_global
!.gitignore
!.gitmodules
!.gitconfig

# supress last login output
!.hushlogin

!.hyper.js

!.bin
