/*
# README
!README.md

# vim
!.vimrc

# zsh
!.zshrc
!.config
!.zinit

# git config
!.gitignore_global
!.gitignore
!.gitmodules
!.gitconfig

# supress last login output
!.hushlogin

!.hyper.js

!.bin

!.cargo
!.ripgreprc
!.tmux.conf
!.ripgreprc
!Brewfile
