[user]
name = kentrino
email = kentrino@h-kento.jp
signingKey = 44206B654BD9AA29AF701605CA4AC40F96EE883B

[credential]
helper = cache --timeout=8640000

[push]
default = current

[commit]
gpgSign = true

[gpg]
program = /opt/homebrew/bin/gpg

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[checkout]
defaultRemote = origin

[init]
defaultBranch = main

[pull]
ff = only

[url "git@github.com:"]
insteadOf = https://github.com/
